<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CookieTest</display-name>
    <servlet-name>CookieTest</servlet-name>
    <servlet-class>p1.CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest</servlet-name>
    <url-pattern>/CookieTest</url-pattern>
  </servlet-mapping>
  <display-name>SessionTracking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecondCookie</display-name>
    <servlet-name>SecondCookie</servlet-name>
    <servlet-class>p1.SecondCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondCookie</servlet-name>
    <url-pattern>/SecondCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionInfo</display-name>
    <servlet-name>SessionInfo</servlet-name>
    <servlet-class>p2.SessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInfo</servlet-name>
    <url-pattern>/SessionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowItems</display-name>
    <servlet-name>ShowItems</servlet-name>
    <servlet-class>p2.ShowItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItems</servlet-name>
    <url-pattern>/ShowItems</url-pattern>
  </servlet-mapping>
</web-app>